<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="spacer"></div>
  <button mat-icon-button>
    <mat-icon *ngIf="this.profilePicUrl == null">account_circle</mat-icon>
    <img *ngIf="this.profilePicUrl != null" [src] = this.profilePicUrl  class="profile-pic">
  </button>
  <button mat-icon-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>


<mat-sidenav-container class="drawer-container">
  <mat-sidenav #drawer mode="side" [opened]="showMenu">
    <mat-nav-list>
      <a mat-list-item routerLink="/opened-tasks" routerLinkActive="active">Opened Tasks</a>
      <a mat-list-item routerLink="/solved-tasks" routerLinkActive="active">Solved Tasks</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
